/.build
build
*.o
*.so
.DS_Store

# tmp until I can clean everything up
/art/
/sdcards/
/notes/
/reference/
/fonts/
/workspace/*
!/workspace/*/
/workspace/*/*
!/workspace/shared/*
!/workspace/*/keymon
!/workspace/*/libmsettings
