[submodule "toolchains/retrofw-toolchain"]
	path = toolchains/retrofw-toolchain
	url = git@github.com:shauninman/union-retrofw-toolchain.git
[submodule "toolchains/odbeta-toolchain"]
	path = toolchains/odbeta-toolchain
	url = git@github.com:shauninman/union-odbeta-toolchain.git
[submodule "toolchains/rg350-toolchain"]
	path = toolchains/rg350-toolchain
	url = git@github.com:shauninman/union-rg350-toolchain.git
[submodule "toolchains/rs90-toolchain"]
	path = toolchains/rs90-toolchain
	url = git@github.com:shauninman/union-rs90-toolchain.git
[submodule "toolchains/miyoomini-toolchain"]
	path = toolchains/miyoomini-toolchain
	url = git@github.com:shauninman/union-miyoomini-toolchain.git
[submodule "workspace/trimui/third-party/SDL-1.2"]
	path = workspace/trimui/third-party/SDL-1.2
	url = git@github.com:shauninman/SDL-1.2.git
[submodule "toolchains/trimui-toolchain"]
	path = toolchains/trimui-toolchain
	url = git@github.com:shauninman/union-trimui-toolchain.git
[submodule "workspace/shared/third-party/DinguxCommander"]
	path = workspace/shared/third-party/DinguxCommander
	url = git@github.com:shauninman/DinguxCommander.git
[submodule "workspace/miyoomini/third-party/DinguxCommander"]
	path = workspace/miyoomini/third-party/DinguxCommander
	url = git@github.com:shauninman/DinguxCommander.git
[submodule "workspace/trimui/third-party/gambatte-dms"]
	path = workspace/trimui/third-party/gambatte-dms
	url = git@github.com:shauninman/gambatte-dms.git
[submodule "workspace/shared/third-party/gambatte-dms"]
	path = workspace/shared/third-party/gambatte-dms
	url = git@github.com:shauninman/union-gambatte-dms.git
